body {
    background-color: #4a0e60;
    color: #fff;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 150%;
}
header{
    margin-top: 20px;
    font-size: larger;
}
#questions-container {
    width: 50vw;
    height: 50vh;
    padding: 10px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}
#box{
    text-align: center;
    width: 50vw;
}
#start-quiz{
    padding: 0 10px 0 10px;
    font-size: 25px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    width: 50vw;
    
}
#again-quiz{
    
    padding: 0 10px 0 10px;
    font-size: 25px;
    display: none;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    
}
#total-score{
    
    padding: 0 10px 0 10px;
    font-size: 25px;
    display:none;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}
#score-area{
    display: -webkit-inline-box;
    
}
.scores{
    padding: 10px;
    
}

/* --------- Media queries */

@media (max-width: 850px) {
    #box{
        width:inherit;
        
    }
    #score-area{
        margin-top: 30px;
        display: block;
        
    }
    .scores{
        margin: 1px;
        
    }

   
}

@media (max-width: 550px) {
    #questions-container {
        width:90%;
        align-items: center;
        margin: 0 auto;
        overflow:scroll;
    }
    
    #start-quiz{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
}