@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Merriweather:ital@1&family=Noto+Serif+Lao&family=PT+Serif:ital,wght@1,400;1,700&family=Source+Serif+Pro:ital,wght@1,200;1,400&display=swap');

/*styling body*/
body {
    background-color: #4a0e60;
    color: #fff;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 150%;
}
/*header style */
header{
    font-family: 'Instrument Serif', serif;
    margin-top: 20px;
    font-size: larger;
}
/*questions container div style*/
#questions-container {
    width: 50vw;
    height: 50vh;
    padding: 10px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}
/*result div style*/
#result{
    font-size: 30px;
    text-align: center;
    line-height: 1.7
   
 }
/* styling for quiz answers options */
.option-number {
    padding: 7px;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 18px;
    background-color: #fff;
    color: #e3b433;
    border-radius: 7px;
    cursor: pointer;

}

.option-number:hover {
    background-color: #e3b433;
    color: #fff;
    border: 2px solid white;
    font-weight: bold;
}


#box{
    text-align: center;
    width: 50vw;
}
/*style start button*/
#start-quiz{
    padding: 0 10px 0 10px;
    font-size: 25px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    width: 50vw;
    
}
/*style next button*/
#next-previous p{
    padding: 0 10px 0 10px;
    font-size: 25px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    width: 50vw;

  
    
}
.sides{
    padding: 10px;
    display: inline;

}
/*style play again button*/
#again-quiz p{
    
    padding: 0 10px 0 10px;
    font-size: 25px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    width: 50vw;
    
}
/*style score area*/
.scores{
    padding: 10px;
    display: inline-block;
    
    
}
/* style for correct and incorrect answer */
.correct {
    background-color: #80f374;
    color: #fff;
}

.incorrect {
    background-color: #ff8066;
    color: #fff;
}

/*contact page style*/
#contact-section{
   
    width: 100%;
    overflow: hidden;
    display: block;
   
}
/*form cover content style*/
#cover-contact{
   
    width: 70vw;
    height: 100%;
    
    background-color: #e3b433;
    border-radius: 7px;


}
/*heading style*/
#heading{
    text-align: center;
    padding-top: 5px;
    line-height: .5;

}
#heading nav{
    margin-right: 10px;
}
h1, nav {
    line-height: 20px;
}
#heading p{
 font-size: smaller;
 font-weight: normal;
 margin-top: 0px;
}
/*form div style*/
#form-div{
    width: 100%;
    display:inline-block;
   
    padding: 10px;
    
    
}
#form-div label{
    font-size: 70%;
    font-weight: normal;
    text-align: left;
}
/*inputs fileds style*/
#inputs-fieldset{
    
    height: auto;
    float: left;
    width: 45%;
    margin: 10px;
  
   
    
}
/*textarea fielset div style*/
#textarea-fieldset{
    
    height: auto;
    float: left;
    width: 50%;
    margin: 10px;
    
}
.contact-input {
    width: 90%;
    height: 30px;
    border-radius: 7px ;
    border: 2px solid  #4a0e60;
    box-shadow: 2px 2px 4px #a79999;
}
/*text area atyle*/
textarea {
    width: 90%;
    height: 220px;;
    border-radius: 7px ;
    border: 2px solid  #4a0e60;
    box-shadow: 2px 2px 4px #a79999;
}

#div-button{
 
    width: 100%;
    height:auto ;
    text-align:center;
    display: inline-block;
 
    
}
/*submit button style*/
button {
    width: 30%;
   
    align-items: center;
    background-color:white;
    color: #4a0e60;
    border-radius: 7px;
    border: 2px solid  #4a0e60;
    box-shadow: 2px 2px 4px #a79999;
        
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
   
  }
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(4, 33, 95, 0.2), 0 6px 20px 0 rgba(6, 7, 96, 0.19);
    background-color: #4a0e60;
    color: white;
    border: 2px solid white;
  }

  
/* --------- Media queries for screens with max width 1200px */
@media (max-width: 1200px){
    /*contact us page */   
    #textarea-fieldset {
        width: 50%;
    }

}
 
/* --------- Media queries for screens with max width 950px */
@media (max-width: 950px){
    /*index page */
    .scores{
        margin: -1px;
        display: inline-block;
        
    }
}
     
/* --------- Media queries for screens with max width 850px */
@media (max-width: 850px) {
     
    /*index page */
    #questions-container {
        
        overflow: scroll;
    }
    #box{
        width:inherit;
    }
    #score-area{
        margin-top: 20px;
       
        
    }
    .scores{
        margin: -1px;
        display: block;
        
    }
    /*contact us page responsive style*/
    #cover-contact {
        display: inline-block;
        width: 100%;
    }
    
    #inputs-fieldset{
       width:50%;
       display: inline-block;
       margin: 0px;
      
       
        
    }
    #textarea-fieldset{
        width: 50%;
        display: inline-block;
        margin: 0px;
    
    }
    
       
}
/* --------- Media queries for screens with max width 550px */
@media (max-width: 550px) {
    /* index.html style */
    header{
        font-size: smaller;
    }
    #questions-container {
        width:90%;
        align-items: center;
        margin: 0 auto;
        overflow:scroll;
        padding: 0 5px 0 5px;
        font-size: smaller;
        margin-top: 30px;
        overflow: scroll;
    }
    #quiz-questions p {
        font-size: small;
    }
    #result{
        font-size: medium;
    }
    #box{
        width:inherit;
        
    }
    #start-quiz{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: medium;
    }
    #next-previous p{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: medium;
    }
    #again-quiz p{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: medium;
        
    }
    #total-score{
        width:90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .scores{
       font-size: medium;
      
    }
   
    /* contact us page style */
    #cover-contact{
        max-height: 2000px;
        display: block;
        
      }
   
    #heading {
        text-align: center;
        padding-top: 10px;
        margin-top: 50%;
        line-height: 1.5;
        height: 50%;
         
        font-size: 20px;
        padding-top: 50px;
    }
    #heading h1 {
        text-align: center;
        padding-top: 70px;
        line-height: 1.5;
        margin-bottom: 0px;
    }
    #heading nav{
        padding-top: 65px;
        
    }
    #form-div{
        max-height: 50%;
    }
    #inputs-fieldset{
        width:100%;
        max-height: fit-content;
        display: block;
        
    }
    #textarea-fieldset{
        width: 100%;
        max-height: fit-content;
        display: block;
       
    } 
    
    
}