body {
    background-color: #4a0e60;
    color: #fff;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 150%;
}
header{
    margin-top: 20px;
    font-size: larger;
}
#questions-container {
    width: 50vw;
    height: 50vh;
    padding: 10px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}
#box{
    text-align: center;
    width: 50vw;
}
#start-quiz{
    padding: 0 10px 0 10px;
    font-size: 25px;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    width: 50vw;
    
}
#again-quiz{
    
    padding: 0 10px 0 10px;
    font-size: 25px;
    display: none;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    
}
#total-score{
    
    padding: 0 10px 0 10px;
    font-size: 25px;
    display:none;
    background-color: #e3b433;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}
#score-area{
    display: -webkit-inline-box;
    
}
.scores{
    padding: 10px;
    
}

/*contact page style*/
#contact-section{
   
    width: 100%;
    overflow: hidden;
    display: block;
   
}
/*form cover content style*/
#cover-contact{
   
    width: 80vw;
    font-size: 150%;
    background-color: #e3b433;
    border-radius: 7px;


}
#heading{
    text-align: center;
    display: block;
    padding-top: 10px;
    
    margin-left: 10%;
    margin-right: 10%;
    
    
}



#form-div{
    width: 100%;

    display:inline-block;
    text-align: center;
    padding: 10px;
    
    
}
#form-div label{
    font-size: 70%;
}
#inputs-fieldset{
    
    height: auto;
    float: left;
    width: 45%;
   
    
}
#textarea-fieldset{
      
    height: 350px;
    float: left;
    width: 50%;
    
}
.contact-input {
    width: 90%;
    height: 35px;
    border-radius: 10px;
    
    box-shadow: 0 8px 16px 0 rgba(4, 33, 95, 0.2), 0 6px 20px 0 rgba(6, 7, 96, 0.19);
    
}
.margin-contact-input{
    margin-top: 3px;
}

textarea {
    width: 90%;
    border-radius: 10px;
    height: 85%;
    box-shadow: 0 8px 16px 0 rgba(4, 33, 95, 0.2), 0 6px 20px 0 rgba(6, 7, 96, 0.19);
    
}
#div-button{
 
    width: 100%;
    height:auto ;
    text-align:center;
    display: inline-block;
 
    
}
button {
    width: 10%;
   
    
    padding: 10px 32px;
   
    background-color:white;
    color:rgb(2, 53, 66);
    border-radius: 10px;
    border: 2px solid rgb(2, 53, 66);;
        
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
    
    cursor: pointer;
   
  }
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(4, 33, 95, 0.2), 0 6px 20px 0 rgba(6, 7, 96, 0.19);
    background-color:rgb(2, 53, 66);
    color: white;
    border: 2px solid white;
  }

  
/* --------- Media queries */

@media (max-width: 850px) {
    #questions-container {
        
        overflow: scroll;
    }
    #box{
        width:inherit;
        
    }
    #score-area{
        margin-top: 20px;
        display: block;
        
    }
    .scores{
        margin: 1px;
        
    }

   
}

@media (max-width: 550px) {
    #questions-container {
        width:90%;
        align-items: center;
        margin: 0 auto;
        overflow:scroll;
        padding: 0 5px 0 5px;
        font-size: smaller;
        margin-top: 30px;
        overflow: scroll;
    }
    
    #start-quiz{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    #again-quiz{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
        
    }
    #total-score{
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .scores{
       font-size: medium;
      
        
    }
    
}